# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# embeddings / cache / artifacts
*.pkl
*.npy
emb_*.json
compiled_*.json
compiled_*.pkl

# local data
data/
*.log

# OS
.DS_Store
Thumbs.db
